@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
#app{
    text-align: center;
}

.stick{
    background: black;
    width: 25px;
    height: 200px;
    border: 4px solid rgb(82, 82, 82);
    border-top: 0;
    margin: auto;
}
.traffic-light{
    background: black;
    padding: 10px;
    display: inline-block;
    margin: auto;
    border: 5px solid rgb(82, 82, 82);
    border-radius: 5px;
}
.light{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;
}
.red{background: rgb(134, 1, 1);}

.yellow{background: rgb(170, 170, 2);}

.green{background: rgb(1, 65, 1);}

.brillo-rojo{
    box-shadow: 0px 0px 50px 20px #ff7474;
}
.brillo-amarillo{
    box-shadow: 0px 0px 50px 20px #f6ff74;
}
.brillo-verde{
    box-shadow: 0px 0px 50px 20px #74ff8b;
}
